<footer>
    <p class="copyright">{{global.copyright}}</p>
    <p class="vertex"><a href="https://www.vertex360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/fuNliCB4DnURkbMtuGa6Hx8VTVOOVhKdN3k0ziAz4F4CxgogcByg-jZ0U5W4JHmHzBckiTkp3OH0N9O-RJXQDkRm"/></a></p>
</footer>