<header>
	<div class="container-fluid">
		<ul class="header-social">
			{{#global.header.social.linkedin.show_or_hide}}
				<li><a href="{{{global.header.social.linkedin.link}}}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
			{{/global.header.social.linkedin.show_or_hide}}

			{{#global.header.social.twitter.show_or_hide}}
				<li><a href="{{{global.header.social.twitter.link}}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
			{{/global.header.social.twitter.show_or_hide}}

			{{#global.header.social.facebook.show_or_hide}}
				<li><a href="{{{global.header.social.facebook.link}}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
			{{/global.header.social.facebook.show_or_hide}}

			{{#global.header.social.skype.show_or_hide}}
				<li><a href="{{{global.header.social.skype.link}}}" target="_blank"><i class="fab fa-skype"></i></a></li>
			{{/global.header.social.skype.show_or_hide}}

			{{#global.header.social.gmail.show_or_hide}}
				<li><a href="{{{global.header.social.gmail.link}}}" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
			{{/global.header.social.gmail.show_or_hide}}
		</ul>

		<p><img class="profile-img" src="{{{page.profile_section.img_profile}}}" alt=""/></p>
	</div>
</header>