header {
    background: #4CAF50;
}
.profile {
    background: #449d48;
}
.nav {
    background: #357a38;
}
.font-color {
    color: #4CAF50;
}
.work-right {
    border-left: 3px solid #4CAF50;
}
.item-list:before {
    border: 3px solid #4CAF50;
}
.item-list:after {
    background: #4CAF50;
}
.testi-box span {
    background: #4CAF50;
}
.portfolio-box .inner-box {
    background: #4CAF50;
}
.carousel-indicators li {
    background: #4CAF50;
}
.carousel-indicators li.active {
    background: #357a38;
}
.btn-download {
    background: #3d8b40;
}
.contact-social li a:hover {
    color: #4CAF50;
}